/* Bai 2 */

.form__group {
    width: 50%;
    margin: 2rem auto;
}

.kq h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
}

.kq i {
    font-size: 1.5rem;
}

#BT-1 {
    display: none;
}

#BT-1.active {
    display: block;
}

#BT-2 {
    display: none;
}

#BT-2.active {
    display: block;
}

#BT-3 {
    display: none;
}

#BT-3.active {
    display: block;
}

#BT-4 {
    display: none;
}

#BT-4.active {
    display: block;
}